<p id="notice"></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td></td>
        <td></td>
        <td><a class="show_79494" href="/books/79494">Show</a></td>
        <td><a class="edit_79494" href="/books/79494/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_79494" rel="nofollow" data-method="delete" href="/books/79494">Destroy</a></td>
      </tr>

  </tbody>
</table>


<h2>New book</h2>
<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="nSIDDm2L1nIxijtWQgDw0PAXhz4/B/kkhlIXXzW0KBaSId/pbQExWtw/2xzLOh4Jre11V8AiPyDdO1xaOI0GsQ==" />

  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" name="book[title]" id="book_title" />
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body">
</textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book" />
  </div>
</form>

